.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.movie-card-container {
  display: flex;
  flex-direction: column;
}

.movie-card-container .movie-card {
  height: 360px;
}

.movie-card-container .movie-card img {
  box-shadow: 0px 1px 9px 0px rgba(110, 111, 105, 1);
}

/* .movie-card img {
} */

.movie-card {
  display: flex;
  align-items: flex-end;
  height: 424.95px;
  margin: 0px 75px 0px 75px;
}

/* Header */

header {
  position: relative;
  z-index: 1;
}

/* Inputs */

.discover-container {
  display: flex;
  justify-content: center;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.genres-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 30vw;
}

label {
  display: flex;
  align-items: flex-start;

  width: 6vw;
}

.release-date-container {
  display: flex;
  align-items: center;
}

.release-date-container input {
  height: 3vh;
}

.release-date-container button {
  height: 4vh;
}

/* Detail Component */

.detail-container {
  position: absolute;
  z-index: 2;
  /* left: 36.8%; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.573);
}

/* Parent */

.parent {
  display: flex;
  flex-direction: column;
}
