.splash-page {
  height: 100%;
  background: #fff8dc;
  background: linear-gradient(180deg, #fff8dc 5%, #dfd5a4 30%, #fff8dc 90%);
  padding-bottom: 50px;
}

.splash-page img {
  background-position: fixed;
  margin-left: auto;
  margin-right: auto;
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.movie-list-container-opaque {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
  opacity: 30%;
}

.movie-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card-container h4 {
  max-width: 424.95px;
}

.movie-card-container .movie-card {
  height: 360px;
}

.movie-card-container .movie-card img {
  box-shadow: 0px 1px 9px 0px rgba(110, 111, 105, 1);
}

/* .movie-card img {
} */

.movie-card {
  display: flex;
  align-items: flex-end;
  height: 424.95px;
  margin: 0px 75px 0px 75px;
  cursor: pointer;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(255, 248, 220);
  background: linear-gradient(
    180deg,
    rgba(255, 248, 220, 1) 71%,
    rgba(241, 232, 189, 1) 100%
  );
}

.splash-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: cornsilk;
}

/* Inputs */

.toggle-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff8dc;
  font-size: 25px;
  position: relative;
  bottom: 3.5px;
}

.search-container form {
  display: flex;
  justify-content: center;
}

.release-date-container form {
  display: flex;
  justify-content: center;
}

.search-container input {
  border: none;
  outline: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 300px;
  height: 30px;
}

.release-date-container input {
  border: none;
  outline: none;
  border: 1px solid black;
  width: 300px;
  height: 30px;
  margin-right: 20px;
}

.release-date-container button {
  border: none;
  outline: none;
  background-color: white;
  border: 1px solid black;
  width: 50px;
}

.release-date-container button:hover {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 3px 3px 2px 0px;
  background: rgb(228, 214, 160);
  background: linear-gradient(
    90deg,
    rgba(228, 214, 160, 1) 35%,
    rgba(227, 209, 140, 1) 62%
  );
}

.search-container button {
  border: none;
  outline: none;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 30px;
  cursor: pointer;
}

.search-container img {
  height: 1lh;
}

.release-date-container img {
  cursor: pointer;
  height: 1lh;
}

.inputs-container {
  display: flex;
  justify-content: center;
  margin: 3vh;
}

.discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.genres-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 30vw;
}

label {
  display: flex;
  align-items: flex-start;

  width: 6vw;
}

/* Detail Component */

.detail-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.detail-card {
  display: grid;
  grid-template-columns: 25% 25% 22% 13% 15%;
  padding-top: 25vh;
  padding-bottom: 100vh;
  color: white;
}

.detail-text {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.releasedate-runtime {
  display: flex;
  justify-content: space-around;
}

.detail-text a {
  text-decoration: none;
  color: white;
}

.detail-text p {
  text-align: left;
}

.credits {
  display: flex;
  flex-direction: column;
}

.actor-list {
  display: flex;
  justify-content: space-between;
}

.detail-image img {
  width: 18vw;
}

.carrot-container-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.carrot-1 {
  display: flex;
  height: 100px;
  width: 100px;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/homepage_left_arrow.20ef98c80cbb7cc3909e0add6a729e64.png")
    0px center no-repeat;
}

.carrot-1:hover {
  transform: translateX(-5px);
  transition: all 0.2s;
}

.carrot-container-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
}
.carrot-2 {
  display: flex;
  height: 100px;
  width: 100px;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/homepage_right_arrow.90e5c27f527cacdfdc031a38428c5fc5.png")
    0px center no-repeat;
}

.carrot-2:hover {
  transform: translateX(5px);
  transition: all 0.2s;
}
.x-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.x-button {
  color: gold;
  font-size: 75px;
  font-weight: bolder;
  cursor: pointer;
  height: 75px;
}

/* Parent */

.parent {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}
